#1. 자동 생성 파일 및 환경 파일 제외(필수)
.env               #API 키 및 민감 정보
venv/              # 가상환경 폴더
__pycache__/       # 파이썬 자동 생성 캐시

# 2. 개인 RAW 데이터 폴더 전체 제외 (개인정보 보호)
data_raw/ 

# 3. 데이터베이스 폴더 제외 (선택: Git에 용량 부담 줄이기)
chroma_db/